# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local
.env.development
.env.production

# Logs
logs/
*.log

# Build (TypeScript)
dist/
build/
*.tsbuildinfo

# Prisma
prisma/dev.db
prisma/dev.db-journal
prisma/migrations/**/shadow.db

# Prisma Client gerado
src/generated/

# Sistema operacional
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
.idea/

# Coverage
coverage/